# CORE
numpy
matplotlib

# FORMATTING & LINTING
black
flake8
isort
mypy
pydocstyle

# COVERAGE & TEST
pytest
pytest-cov

# PRE-COMMIT
pre-commit

# BUILD TOOLS
build
tomli

# DOCS
myst-parser
cloud-sptheme
sphinx
sphinx-copybutton

# OTHERS
pretty-errors
