name: Run tests and upload coverage

on:
    push:
        branches-ignore:
            - doc

jobs:
    test:
        name: Run tests and collect coverage
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                python-version: [ "3.10", "3.11" ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Set up Python ${{ matrix.python-version }}
                uses: actions/setup-python@v4
                with:
                    python-version: ${{ matrix.python-version }}

            -   name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt pytest pytest-cov

            -   name: Install project
                run: pip install -e .

            -   name: Test with pytest
                run: |
                    pytest --cov=plotez --cov-report=xml --junitxml=junit.xml -o junit_family=legacy

            -   name: Upload results to Codecov
                if: ${{ !cancelled() }}
                uses: codecov/codecov-action@v5
                with:
                    token: ${{ secrets.CODECOV_SECRET_PLOTEZ }}

            -   name: Upload test results to Codecov
                if: ${{ !cancelled() }}
                uses: codecov/test-results-action@v1
                with:
                    token: ${{ secrets.CODECOV_SECRET_PLOTEZ }}
